{{- $workemail := promptString "Work Email address" -}}
{{- $homeemail := promptString "Home Email address" -}}
{{- $fullname := promptString "Full name" -}}
{{- $workjumphost := promptString "Work jumphost" -}}
{{- $workdomains := promptString "Work domains, comma separated" -}}
{{- $workdomainslist := split "," $workdomains}}

data:
  workemail: {{ $workemail | quote }}
  worksigningkey: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIP85EpeWD3ZQyeCG6gYJTwK1dC3ZhWgv739bHO21PpAz"
  homesigningkey: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIP85EpeWD3ZQyeCG6gYJTwK1dC3ZhWgv739bHO21PpAz"
  homeemail: {{ $homeemail | quote }}
  fullname: {{ $fullname | quote }}
  workjumphost: {{ $workjumphost | quote }}
  workdomains: 
  {{ range $workdomainslist -}}
      - {{ . | quote}}
  {{ end -}}