[commit]
  gpgsign = true
[gpg]
  format = ssh
[includeIf "gitdir:~/src/work/"]
        path = ~/.gitconfig-work
[includeIf "gitdir:~/src/home/"]
        path = ~/.gitconfig-home
[includeIf "gitdir:~/.local/share/chezmoi/"]
        path = ~/.gitconfig-home
